In [2]:
import pandas as pd
import numpy as np

### 7.2.5 Discretization and Binning

In [3]:
ages = [20, 22, 25, 27, 21, 23, 37, 31, 61, 45, 41, 32]

In [4]:
bins = [18, 25, 35, 60, 100]

In [9]:
#cats = pd.cut(ages, bins) #연속데이터를 개별로 분할하거나 분석을위해 그룹으로 나누고 싶을 때 cut 함수 사용!
#cats
cats = pd.cut(ages,bins) 
print(cats)
print(type(cats)) #카테고리컬 타입

[(18, 25], (18, 25], (18, 25], (25, 35], (18, 25], ..., (25, 35], (60, 100], (35, 60], (35, 60], (25, 35]]
Length: 12
Categories (4, interval[int64]): [(18, 25] < (25, 35] < (35, 60] < (60, 100]]
<class 'pandas.core.arrays.categorical.Categorical'>

In [10]:
print(cats.codes)
print(cats.categories)
print(pd.value_counts(cats)) #pandas.cut 결과에 대한 그룹 수를 나타냄

[0 0 0 1 0 0 2 1 3 2 2 1]
IntervalIndex([(18, 25], (25, 35], (35, 60], (60, 100]],
              closed='right',
              dtype='interval[int64]')
(18, 25]     5
(35, 60]     3
(25, 35]     3
(60, 100]    1
dtype: int64

In [11]:
pd.cut(ages, [18, 26, 36, 61, 100], right=False)

[[18, 26), [18, 26), [18, 26), [26, 36), [18, 26), ..., [26, 36), [61, 100), [36, 61), [36, 61), [26, 36)]
Length: 12
Categories (4, interval[int64]): [[18, 26) < [26, 36) < [36, 61) < [61, 100)]

In [12]:
group_names = ['Youth', 'YoungAdult', 'MiddleAged', 'Senior']
pd.cut(ages, bins, labels=group_names)

[Youth, Youth, Youth, YoungAdult, Youth, ..., YoungAdult, Senior, MiddleAged, MiddleAged, YoungAdult]
Length: 12
Categories (4, object): [Youth < YoungAdult < MiddleAged < Senior]

In [24]:
data = np.random.rand(20)
print(data)
pd.cut(data, 4, precision=2) #균등하게 4개의 그룹으로 나뉨, precision 이 2이면 소수점 2자리까지 제한

[0.83569692 0.32178284 0.82269538 0.5656009  0.92638903 0.8917238
 0.00131688 0.8894223  0.15831205 0.3304273  0.48482245 0.61614503
 0.82450966 0.6418502  0.03792652 0.57166693 0.33210546 0.70063562
 0.93353504 0.3815537 ]

[(0.7, 0.93], (0.23, 0.47], (0.7, 0.93], (0.47, 0.7], (0.7, 0.93], ..., (0.47, 0.7], (0.23, 0.47], (0.7, 0.93], (0.7, 0.93], (0.23, 0.47]]
Length: 20
Categories (4, interval[float64]): [(0.00038, 0.23] < (0.23, 0.47] < (0.47, 0.7] < (0.7, 0.93]]

In [33]:
data = np.random.randn(1000)  # Normally distributed, 정규분포를 따르는 난수 생성
print(data)
cats = pd.qcut(data, 4)  # Cut into quartiles , 표본 변위치를 기반으로 데이터를 나눠줌
cats
pd.value_counts(cats)

[ 1.70337154e+00  1.40919097e+00  4.81133541e-01  1.78417757e+00
  1.09602325e+00  7.23648665e-01  7.19079530e-01  2.67612954e-01
  1.81709222e-01 -1.98629154e+00  1.23491644e+00 -2.31156605e-01
 -6.04564065e-01  1.38900564e+00 -2.50095536e-01  2.35159262e-01
  5.22564798e-01 -1.94615085e+00  2.12995766e-01  1.08725657e+00
  1.33620214e+00  1.78496082e-01 -8.81271315e-01  1.18674705e+00
  1.37812659e+00 -1.24544368e+00  1.91684650e+00 -6.66063851e-02
  7.21769846e-01  8.77712594e-01  7.02627768e-01  8.26463135e-01
  9.33849406e-01 -1.01344977e-01  7.72979257e-01 -7.87010560e-01
 -9.55804502e-01  2.03954948e+00  1.89670129e+00 -1.60994262e+00
  7.52381084e-01  2.63356370e+00  7.96081913e-01 -6.19414555e-01
 -2.85490995e-01 -3.62663579e-01  8.57994615e-01  1.30239299e+00
  1.49095436e+00 -2.85816584e-01  4.31859028e-01 -9.52189881e-02
  3.29638502e-02 -3.86924925e-01  1.42639109e+00  5.81000010e-01
  2.00047208e+00  3.67952767e-02  1.58595849e+00  8.03076618e-01
 -2.08169897e+00  1.31657968e+00 -5.74459222e-01  6.83407851e-01
 -2.08260193e-02  1.38589944e+00 -9.62598498e-01  1.10441327e+00
 -8.68864354e-01  6.55871693e-01  1.02921901e+00  1.15204297e+00
 -5.50489202e-01 -1.45225279e+00  1.33893702e+00  9.84140117e-02
 -1.43240420e+00  8.09449443e-01  3.04070898e+00  2.82955990e-01
 -1.59983211e+00  9.16928764e-01  1.17174763e+00 -8.20777823e-01
  2.04829853e-01 -1.02098801e-01  2.94575298e+00  1.09131170e+00
 -3.05879570e-01 -6.25677777e-01 -2.96773200e-01  8.23297117e-01
 -4.82574056e-01 -1.42089928e+00  3.06433917e-01 -3.34546775e-01
  3.56168654e-01  8.48237702e-01  3.81226640e-01 -1.92272881e+00
  1.73345552e-01  2.36047452e+00 -1.24302521e+00  4.61858093e-02
  1.93490636e+00 -1.34010083e-01  7.34720585e-02  9.11581649e-01
 -4.73122638e-01 -8.08319589e-01  8.83780569e-01  2.06230382e-01
 -5.66598117e-01  1.18198256e+00  4.09446848e-01  1.39319438e+00
 -1.98801803e+00  2.86060297e-01  1.67986509e-02  3.35926292e-01
 -1.22949485e-01 -7.92200032e-01 -1.48704111e+00 -8.91601973e-01
 -7.53195866e-01  1.35445814e+00  1.51961167e+00  3.25445955e-01
 -6.37804839e-01  5.68172558e-01 -6.90823523e-01  1.02394380e+00
  3.85074585e-01 -3.47861812e-01 -3.91351090e-01  1.09574590e+00
  8.67690446e-02 -2.64056360e-01  1.54023729e+00  1.29559714e-01
  1.63545973e+00  1.43694365e+00 -1.66336114e-01 -3.97068652e-01
  1.71306176e-01 -1.07443248e+00  1.13085431e+00 -7.51354147e-01
  2.59175769e-01  1.02794673e-03 -5.41903228e-01 -9.30297822e-01
  9.10595185e-01 -5.83154914e-01 -5.87641910e-01  8.73796671e-01
  1.22139408e+00  2.24573580e-01  9.35910956e-01 -6.00512661e-01
  1.93868352e-01  8.05362052e-01 -1.11587206e+00  3.12310050e-01
 -1.46233653e+00 -1.47543720e+00 -5.79037440e-01 -3.13702936e-01
  4.40926175e-01  2.12481633e+00 -3.98918540e-01 -2.75235232e+00
 -3.03289578e-01 -3.36839954e-01  1.35986035e+00  1.51326379e+00
 -7.90362392e-01  1.03588993e+00 -8.30012075e-02  8.23881892e-01
 -4.84889950e-01  3.54361064e-01 -1.61892234e+00 -5.38627523e-01
  5.10120480e-02  9.72660878e-01  1.21713863e+00  7.74919756e-01
 -1.06751907e+00 -1.73118836e-01  1.46926624e+00 -7.94515311e-01
  8.63348857e-01  1.11954506e+00  2.36414876e+00 -6.54372524e-01
 -8.31544930e-01 -1.99697851e-01  1.81912972e+00 -1.25968259e+00
  1.08622283e-01 -6.67505955e-01 -3.52952563e-01  3.57676179e-01
  2.33033629e-01  1.72590779e+00 -4.46294017e-02 -6.87230649e-02
  3.70453703e-01 -1.69257625e+00  1.34558124e+00  1.94269638e-01
  7.04674299e-01 -1.61683056e+00  9.26272139e-01  1.77285393e+00
  8.09575405e-01  1.79795294e+00  2.64403647e+00  1.27442208e-01
  2.09795858e-01  8.00773637e-01  3.62686039e-01 -4.44009587e-02
  8.74282790e-01  8.67605096e-01 -6.95248188e-01  9.45546225e-02
 -1.84567696e-01  9.56189349e-01 -2.49313719e+00 -4.00014190e-01
 -4.50097921e-01 -3.08985844e-01  1.67527796e+00  1.11837496e+00
  1.08307208e+00  3.06481471e+00 -4.26854375e-01 -1.01178549e+00
 -3.53001425e-01  1.97722699e+00  1.88546033e-01 -2.31027082e-01
 -6.57681905e-01  6.96022595e-01 -1.10618906e+00 -6.88406217e-01
 -1.64045735e+00 -1.13532468e+00  1.50736415e+00  4.09217233e-01
 -3.15690639e-01  1.15024040e+00  1.08479595e-01 -9.76231788e-01
  5.22124242e-01  1.62284147e-01  1.63732135e-01  3.24448937e-01
 -9.43274444e-01 -6.06290317e-02 -4.03388093e-01  2.39089128e-01
 -1.84548522e+00 -3.56708635e-03  2.79818676e-01 -1.05465304e+00
  3.97647090e-01  2.52752302e-01  1.54478191e-01  2.45566262e-01
  1.48078368e+00  8.17981979e-01  5.58662928e-01 -8.67742134e-01
  4.91935150e-01  5.58374144e-01 -1.41674056e-02 -7.38330098e-01
 -1.22888618e+00  1.35945100e+00  5.24475668e-01 -1.50175071e-01
 -9.49694129e-02  6.45358990e-01 -1.66851708e-02  1.07942336e+00
 -5.93721121e-01  6.20349217e-01 -8.44397021e-01 -7.44692827e-01
 -6.14781583e-03  1.12889144e+00 -1.37770830e+00 -7.77610426e-01
  7.74149222e-01  4.65003319e-02  6.09028916e-01 -3.80075880e-01
  4.52932516e-01 -9.36274108e-01  2.04364739e+00 -9.07764439e-01
  1.17709689e+00  2.37724164e-01  9.42972189e-01  1.23916998e+00
  1.20529134e+00  6.99771773e-01 -1.59579929e+00 -2.67068632e-01
  1.91071843e-01 -8.09420003e-01 -1.13777709e+00  1.58087266e-01
  1.17635149e+00  1.03814213e+00 -9.53374701e-01  6.33530715e-01
 -1.79335884e-01 -1.20767695e+00 -9.10931724e-01 -1.74946807e+00
  4.96710856e-01  5.66892283e-01 -6.98118566e-01  4.37256790e-01
  8.89330077e-01  7.50769371e-01 -5.21925349e-01 -1.04396487e+00
  3.81946421e-01 -1.42866248e+00  1.39171567e-01 -2.31177929e-01
  1.12495799e+00  4.04793238e-01  1.62786102e+00  1.74002522e-02
  1.72986173e-01  6.11202146e-01  2.34678766e-02 -1.87853795e+00
  9.28063405e-01 -1.34766105e+00  7.21251237e-01 -2.19686192e-01
 -6.75683222e-01  7.06779476e-02 -7.35349376e-01 -1.46894459e+00
  4.53909341e-01  6.45405123e-02 -2.21184258e+00 -1.08203404e+00
 -3.39405248e-02 -1.00431232e+00  3.94488501e-01 -2.71612841e-01
  1.37787150e+00  1.75580832e-01  1.15890783e+00 -1.37247790e+00
 -1.69940955e+00 -1.20340396e+00 -9.76285611e-01 -2.58706113e-01
 -1.19356860e-01  6.51746516e-01  6.48152516e-01  1.07557605e+00
 -3.82835764e-01 -1.79541044e+00 -1.59664105e+00  6.26784718e-01
 -6.95420500e-01  1.32359525e+00  1.97021924e+00 -1.60456558e+00
 -1.44652433e+00  7.27202989e-01 -5.43749948e-01 -1.10984355e+00
  1.19898566e+00 -4.27676659e-01  1.20316497e+00 -1.09195165e+00
  1.06832779e+00  7.03504427e-01  3.40851398e-01 -5.72107633e-01
  7.98105080e-01 -6.62022060e-01  3.46218374e-01 -4.15145194e-01
  9.72826699e-01  4.33911013e-01  1.26871005e+00 -6.91240783e-01
 -1.88902672e+00 -2.10336239e+00 -2.27044786e-01 -3.81260947e-01
 -2.15576305e+00 -1.54010823e+00  1.38509993e+00  7.75119042e-01
  6.62950969e-01  1.75895240e+00 -8.98301658e-01  1.51517076e+00
  6.19297957e-01  1.56503981e+00 -1.18750418e+00 -6.98400257e-01
 -1.33057718e+00  1.02005596e+00 -1.13603530e+00 -9.54233184e-01
 -1.45331647e+00 -2.32810439e-01 -2.91480880e-01 -7.60399045e-01
 -8.02614417e-01 -1.42237302e+00  1.80066232e+00  4.29723313e-01
  1.40712058e+00 -1.88607867e+00  2.82935021e-01  9.67364515e-01
  1.15243400e+00  1.41703047e+00  3.38675517e-01  8.94881778e-01
  2.43377896e-01  1.90040451e+00 -6.06570039e-01  7.77962090e-01
 -3.64907498e-01  6.22979569e-01  2.10938809e+00  5.97407640e-01
  6.22153048e-01 -1.14801780e+00 -6.58651908e-01 -4.86285641e-01
  7.15056297e-01  1.53293186e+00  9.00669472e-01 -2.80697796e-01
  6.59967245e-01 -1.09345847e+00 -4.90705598e-02 -1.39705159e+00
  2.34862771e-01  7.11891354e-01 -7.56528707e-01 -1.08622242e+00
  4.81574717e-01 -1.11459417e+00  5.03313300e-01 -6.51175793e-01
  1.20372157e+00  1.09418511e+00  1.09024615e+00 -1.00786830e+00
  8.93595245e-01  2.15025863e+00  4.24705660e-01  7.34732492e-01
  7.66410902e-01 -7.72622009e-01 -5.73003901e-01 -8.59312268e-01
 -2.34598072e-01 -5.35426528e-01 -1.00745185e+00 -1.26704467e-01
 -1.05434964e-01 -1.64649753e-01 -2.40096768e-01  1.83304998e-01
 -4.93704114e-01  1.37931140e-01  1.86884563e-03  6.42497160e-01
  4.66669631e-01 -4.20006087e-01 -1.21279380e+00  2.63559125e-01
 -5.19109912e-01 -1.15715361e-02 -1.14932266e-03 -4.10695507e-03
  7.23358834e-01 -1.34334272e-01  1.44046811e-01  5.21982898e-01
  9.13864115e-01 -1.80755582e+00  3.02253375e-01  7.26532107e-02
  6.90559960e-01 -6.88978871e-01 -4.94640912e-01  5.28760504e-02
 -1.22614574e+00 -4.59500893e-01 -5.02884217e-01 -1.15812031e+00
 -2.50854528e-01  2.10485900e-01 -2.08810247e+00 -2.85808722e-01
 -4.65210912e-02  6.30294359e-01 -5.07076123e-01  1.49795119e+00
  8.67902667e-01 -1.85890875e-02 -1.43869719e+00 -1.03700814e-01
  1.64762351e+00 -8.68345618e-01  7.64749877e-02  1.07513639e+00
  1.37156117e+00  1.18736662e+00  6.43590960e-01 -6.00948728e-01
 -9.00570883e-01  1.47530361e+00 -1.24503184e+00  2.12789967e-01
 -1.18953097e+00  7.15007085e-02 -4.68775540e-01 -2.11430656e+00
  1.07803763e+00  1.60094212e+00 -1.83517449e+00 -2.43532174e-02
 -5.72386933e-01  1.49113744e+00  2.96227096e-01  2.15226980e-02
 -7.80293477e-01  2.44199680e-01  3.89287508e-01  1.12510641e+00
 -4.46702616e-01 -6.09089320e-01  4.09397826e-01 -2.52590416e+00
 -3.88432899e-01 -1.26099363e+00  1.36800127e+00 -3.32650871e-01
  2.22678207e-01 -3.71928201e-01 -9.79237108e-01 -1.29993026e-01
 -1.02199284e+00  9.77518140e-01 -1.69015472e-01  1.72001813e+00
 -1.12424861e+00  7.18093842e-02 -1.16320219e+00  1.88666887e-01
  4.06274284e-01  1.92069900e-01 -2.37797971e-03  1.17924788e+00
  9.61442935e-01 -2.16379688e-01  7.14233569e-01  2.97950951e+00
  1.98431092e-01  5.65737605e-01 -8.72169564e-02  6.87680058e-01
 -1.08524129e+00 -5.98395839e-01 -1.08075558e+00 -4.30671949e-01
  1.02960623e+00  1.94544156e-01 -4.39092696e-01 -1.24179490e+00
  3.47443002e-01  1.01194878e+00 -1.62656082e-01  1.15246078e+00
  5.27685890e-01 -6.80541162e-01 -2.79910071e-01 -1.39141234e+00
  1.03765125e+00 -1.09871312e-01 -2.73113914e-01 -8.15527590e-01
 -5.98451554e-01  9.54925498e-01 -7.48517043e-01 -8.78476699e-01
 -1.32785848e+00 -1.82573499e-01  2.53622686e-01  5.76706688e-01
  7.59437616e-01 -7.83070114e-01 -3.03470004e+00 -5.87243974e-01
  4.20690556e-01 -3.29076484e-01  5.43454385e-01 -1.84829809e+00
  1.59994791e+00  9.70717985e-01  5.13591253e-01  2.86221190e-01
  1.32771743e+00 -1.91903976e-01  9.79183122e-01 -7.30647898e-01
 -2.83385431e-01  6.44099751e-01  1.63184410e+00 -6.49498682e-01
 -1.56326080e-01 -6.77148661e-01  4.16663725e-01  2.18366772e-01
 -3.28324332e-01  7.66191318e-01  2.28098405e+00  8.99762103e-02
 -1.20041375e+00 -1.22023373e+00 -1.53139365e+00  3.35091699e-01
 -1.77394339e+00  9.91479653e-01  7.36402443e-01  5.44961740e-01
  2.50535019e-02 -3.73266428e-01 -7.42533093e-01 -2.24073457e+00
 -2.56343383e+00  1.12038465e+00 -5.32303553e-01  8.73623922e-01
 -1.12838451e-01 -5.57506899e-01 -1.95200553e-01  2.52175523e-01
  1.70895467e-01 -1.32220647e+00 -1.52535335e-01 -6.84655126e-01
  9.88958996e-01 -6.35811691e-01 -3.17569682e-01  5.21070872e-02
  8.96196297e-01  8.23944640e-01  1.91360239e+00 -1.85774337e-01
  1.01887900e-01 -7.52869442e-01  1.83993160e+00  5.74967019e-01
 -6.50958089e-01  7.54897120e-01 -1.84617350e+00  1.25488285e+00
  8.52842825e-01 -7.77157529e-01 -2.26920713e-01  1.59461873e+00
  1.03164717e+00 -1.33237206e+00 -3.26270069e-01 -3.02927514e-01
 -2.57920751e+00  4.54437310e-01  7.63804004e-02 -1.48614441e-01
 -6.82626981e-01  8.17946044e-01  5.10894153e-01 -7.05542249e-01
 -1.12983894e+00 -2.27894041e+00 -1.57271673e+00 -6.71140786e-01
  6.96061362e-01  6.36109622e-01 -5.10677330e-01  5.13053513e-01
 -1.04586126e+00 -5.67446419e-01 -1.51182801e+00 -8.07593617e-01
  1.11321738e+00  1.15075786e+00  2.09921038e-01 -1.70198511e+00
 -1.22488070e+00  5.56480714e-01  4.76635702e-01  3.66967626e-01
 -3.05265836e-01 -2.25026005e+00  1.70857345e+00 -8.53514133e-01
  2.52151701e-01  5.74843513e-02  1.05900535e+00  4.40506894e-01
  9.66141439e-01  1.14061892e+00 -8.49542267e-01 -8.19313747e-01
 -1.23901489e-01  7.26476144e-01 -1.14307173e-01 -3.31282743e-01
 -5.63445541e-02  1.36485256e+00  3.80603251e-01 -4.54091167e-01
 -6.46243325e-02 -1.54455165e-01 -1.28159665e+00  8.79841262e-01
 -1.72044793e+00  7.04590073e-01  2.71006104e-01 -8.62259173e-01
 -4.42443773e-01  1.03175074e+00 -1.14766174e+00 -3.35137576e-01
 -6.24248760e-01  1.12609952e+00 -1.89050467e+00  9.38593776e-01
 -1.37655772e+00 -7.81865907e-01 -1.44867509e+00 -1.30874735e+00
 -1.28425469e+00 -7.52643964e-01 -8.07991047e-01 -1.35882720e-01
  7.69925879e-01  5.24493801e-02 -4.70969758e-01 -5.55679349e-01
 -5.00990316e-01 -4.88035724e-01  2.11844037e+00  1.66532978e+00
  4.33397929e-01 -2.58675191e-01  5.10914615e-02  1.43617620e+00
 -5.12807975e-02  3.20031116e-01 -1.09779544e-01 -4.91812515e-01
  8.36341812e-01  1.25863827e+00  2.52574479e-01  6.73928194e-01
 -1.29639990e+00 -6.26607869e-02 -6.78864402e-02  1.37229745e+00
 -6.00833758e-01  4.12869099e-01 -1.17947529e+00 -7.30404022e-01
 -2.35007752e-02 -6.43152266e-01 -1.74540563e+00  2.21007462e-01
 -4.16001853e-01 -1.68622674e-01  7.44540621e-01  1.35430934e+00
 -2.47349915e+00 -5.50301513e-01 -9.64604515e-01  1.44673464e-01
  1.20866065e+00 -6.14660253e-01  5.08459268e-01 -5.55419162e-01
 -6.32214066e-01  9.16985416e-01  4.37158330e-01 -3.05247761e+00
 -2.94342575e-01  8.80306155e-01  7.91288996e-01  5.60585343e-02
 -3.96421443e-01  1.25254243e+00 -8.85950151e-01 -1.01762518e+00
 -7.23774944e-01 -1.42071618e+00 -1.37438818e+00  1.06799778e+00
  5.28808923e-01 -1.23493714e+00 -1.35792555e+00  1.82260059e+00
  1.87309740e+00  1.12515463e+00 -6.48847934e-01  4.11696036e-01
 -1.51093697e+00 -1.34563339e-01 -5.83176249e-02 -9.17817623e-01
  3.74259841e-01  1.96832977e+00 -1.75246697e+00 -2.01785996e-01
 -1.06601687e+00  8.60670111e-01  9.01144206e-01  1.34179974e+00
  9.81495034e-02  2.30994038e-01 -6.07096863e-01 -3.39814391e-02
 -1.32342869e-01  1.65028879e-01  1.73663431e+00  1.12114934e+00
  1.95448975e+00  5.51799118e-01  7.16565486e-01 -1.00587710e-01
 -5.23092408e-01  8.85078744e-01 -2.04331035e-01  1.14576995e+00
 -1.34201685e-01  1.06080541e+00  4.70499347e-01  4.30571116e-02
 -2.92055968e+00 -6.70980503e-01 -1.20825262e+00  1.80772099e+00
 -1.03890441e+00  1.64075670e+00 -1.36605828e+00 -1.00590155e+00
  9.26023428e-01  4.64570211e-02 -1.79296183e+00  2.37095807e-01
  5.24223144e-01 -9.27514972e-02  6.07720446e-01  2.02552011e+00
  1.61023139e+00 -2.44411935e-01 -1.61908298e+00 -1.12525910e-01
  4.35878110e-01 -1.39523021e+00  1.03270390e+00  2.72447444e-01
 -1.64730867e+00  4.07810211e-01  1.24082581e+00 -8.14962540e-01
 -9.81738495e-02 -1.05755678e+00  5.85081404e-01  3.23229377e-01
  2.60867770e-01  1.20618292e+00 -1.61436578e+00  2.01997806e-01
 -2.99631804e-01  4.22049469e-01  4.10191624e-02 -1.05589483e+00
 -2.38830238e-01 -1.26391288e+00  1.73804244e+00 -4.78476543e-01
 -1.29219233e+00 -1.26430392e+00 -4.07207424e-01 -9.94486468e-01
 -1.91258802e+00 -1.38460133e+00 -3.20974081e-01  3.97504112e-01
  9.95734605e-01  1.89358236e-01  1.59058436e+00  3.38012224e-01
  4.46413441e-01  7.03376132e-01  1.57119023e+00  2.09792884e+00
  1.06928883e+00  3.85605530e-01  7.93412002e-01  2.21078149e+00
 -1.11592675e-01 -1.45815596e+00 -1.66228241e+00  8.51583041e-01
  1.11195160e+00 -2.36167393e+00 -2.93468983e-01  3.82961610e-01
 -5.51104447e-01  6.23772359e-01  1.06830375e+00  5.36862257e-01
 -8.79587965e-02  1.43478345e-01 -5.67869267e-01  8.15263610e-02
 -8.37331891e-01 -1.03310047e+00  8.12317743e-01  4.55025162e-01
  1.39772615e+00  9.38431697e-01  1.26763330e+00 -4.72006693e-02
 -2.66460296e-02  4.15457882e-01 -1.40686918e+00  4.85283173e-01
  1.08739831e+00 -1.11629431e+00  4.12991727e-01 -2.15991007e+00
  6.30338628e-01  4.13730115e-01  1.70487527e+00 -2.88086083e-01
  1.01333965e+00 -5.98766596e-01  1.06150112e-01 -2.25450176e+00
  1.03994583e+00 -2.59164217e+00  9.98589409e-01 -1.81870053e+00
  1.22057653e-01  1.12917228e-01  4.30642416e-01 -8.99530617e-01
 -3.87890666e-01 -9.80175426e-01  1.08155073e+00  7.48787528e-01
  6.08903612e-03  1.91750306e-01  4.08112814e-01 -7.21029607e-01
 -2.13551852e+00 -1.59113866e+00  1.16135999e-01  1.47359404e-01
  4.30356295e-01  1.42222033e+00 -2.05863313e-01  2.29257980e+00
 -2.47243436e+00 -1.45545335e-01  1.41198564e+00 -4.27996949e-01
  1.30676087e+00 -1.63515149e+00 -4.67790964e-01 -3.42181556e-01
  1.35300450e+00 -1.54760204e-01  2.13291106e-01  3.86870737e-01]

(0.775, 3.065]      250
(0.061, 0.775]      250
(-0.652, 0.061]     250
(-3.053, -0.652]    250
dtype: int64

In [34]:
pd.qcut(data, [0, 0.1, 0.5, 0.9, 1.]) # 변위치를 직접 지정도 가능

[(1.336, 3.065], (1.336, 3.065], (0.061, 1.336], (1.336, 3.065], (0.061, 1.336], ..., (-1.298, 0.061], (1.336, 3.065], (-1.298, 0.061], (0.061, 1.336], (0.061, 1.336]]
Length: 1000
Categories (4, interval[float64]): [(-3.053, -1.298] < (-1.298, 0.061] < (0.061, 1.336] < (1.336, 3.065]]

### 7.2.6 Detecting and Filtering Outliers(특이값 찾고 제외하기)

In [41]:
data = pd.DataFrame(np.random.randn(1000, 4))
data.describe()

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean      0.040630    -0.012311     0.014207     0.021984
std       1.015616     0.982985     1.030983     1.051739
min      -3.103515    -2.953028    -2.696790    -3.218885
25%      -0.673160    -0.683919    -0.677723    -0.688842
50%       0.029582    -0.019506     0.016017     0.023003
75%       0.754300     0.652788     0.690833     0.740798
max       3.172248     2.890165     3.868607     4.123755

In [42]:
col = data[2]
col[np.abs(col) > 3]

0      3.008228
54     3.096856
121    3.868607
349    3.140453
643    3.537351
891    3.225295
Name: 2, dtype: float64

In [44]:
data[(np.abs(data) > 3).any(1)] # 각 열에서 값이 3인 애들이 하나라도 있으면 출력

            0         1         2         3
0    0.507191  0.473367  3.008228  0.159988
54   1.010431 -0.199168  3.096856 -0.653033
113  1.974071  2.040197  1.954192  3.265363
121 -1.449286 -0.728750  3.868607 -1.571611
174  3.068053 -1.213623 -0.313515 -0.200383
349  0.415395  1.084073  3.140453  1.117328
479  0.995512  1.295567 -0.157623  3.391921
484 -3.103515  2.049087  0.537843 -0.360143
492  0.594962 -0.116425  1.083351 -3.218885
583  0.097445 -1.027895  0.235732  3.374973
643  0.921672 -0.526808  3.537351  0.170092
679 -1.122946  1.398116 -1.065522  4.123755
703  3.172248  0.813326  0.346214 -0.297421
891 -1.855750  0.641284  3.225295  0.345279

In [46]:
data[np.abs(data) > 3] = np.sign(data) * 3 # 3초과 하는 애들을 -3 또는 3으로 지정
data.describe()

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean      0.040493    -0.012311     0.012330     0.020047
std       1.014582     0.982985     1.024978     1.044172
min      -3.000000    -2.953028    -2.696790    -3.000000
25%      -0.673160    -0.683919    -0.677723    -0.688842
50%       0.029582    -0.019506     0.016017     0.023003
75%       0.754300     0.652788     0.690833     0.740798
max       3.000000     2.890165     3.000000     3.000000

In [47]:
np.sign(data).head()

     0    1    2    3
0  1.0  1.0  1.0  1.0
1  1.0  1.0  1.0  1.0
2  1.0  1.0 -1.0  1.0
3 -1.0 -1.0 -1.0 -1.0
4  1.0  1.0  1.0  1.0

### 7.2.7 Permutation and Random Sampling(치환과 임의 샘플링)

In [64]:
df = pd.DataFrame(np.arange(5 * 4).reshape((5, 4)))
print(df)
print()
sampler = np.random.permutation(5) # 순서가 랜덤하게 바뀐 정수 배열이 생성
print(sampler)

    0   1   2   3
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15
4  16  17  18  19

[4 2 0 1 3]

In [65]:
df
df.take(sampler)

    0   1   2   3
4  16  17  18  19
2   8   9  10  11
0   0   1   2   3
1   4   5   6   7
3  12  13  14  15

In [66]:
df.sample(n=3)

    0   1   2   3
2   8   9  10  11
4  16  17  18  19
3  12  13  14  15

In [67]:
choices = pd.Series([5, 7, -1, 6, 4])
draws = choices.sample(n=10, replace=True)
draws

2   -1
0    5
1    7
3    6
4    4
3    6
4    4
2   -1
2   -1
4    4
dtype: int64

#### 7.2.8 Computing Indicator/Dummy Variables(표시자/더미변수 계산하기)

In [71]:
df = pd.DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'b'],
                   'data1': range(6)})
pd.get_dummies(df['key']) #one-hot 인코딩 방식과 같다고 보면 된다.

   a  b  c
0  0  1  0
1  0  1  0
2  1  0  0
3  0  0  1
4  1  0  0
5  0  1  0

In [73]:
dummies = pd.get_dummies(df['key'], prefix='keys') #prefix 는 더미 테이블 생성될 때 column 양식
df_with_dummy = df[['data1']].join(dummies)
df_with_dummy

   data1  keys_a  keys_b  keys_c
0      0       0       1       0
1      1       0       1       0
2      2       1       0       0
3      3       0       0       1
4      4       1       0       0
5      5       0       1       0

In [ ]:
mnames = ['movie_id', 'title', 'genres']
movies = pd.read_table('datasets/movielens/movies.dat', sep='::',
                       header=None, names=mnames)
movies[:10]

In [ ]:
all_genres = []
for x in movies.genres:
    all_genres.extend(x.split('|'))
genres = pd.unique(all_genres)

In [ ]:
genres

In [ ]:
zero_matrix = np.zeros((len(movies), len(genres)))
dummies = pd.DataFrame(zero_matrix, columns=genres)

In [ ]:
gen = movies.genres[0]
gen.split('|')
dummies.columns.get_indexer(gen.split('|'))

In [ ]:
for i, gen in enumerate(movies.genres):
    indices = dummies.columns.get_indexer(gen.split('|'))
    dummies.iloc[i, indices] = 1

In [ ]:
movies_windic = movies.join(dummies.add_prefix('Genre_'))
movies_windic.iloc[0]

In [ ]:
np.random.seed(12345)
values = np.random.rand(10)
values
bins = [0, 0.2, 0.4, 0.6, 0.8, 1]
pd.get_dummies(pd.cut(values, bins))